{% extends "base.html" %}
{% block content %}
<div id="pug"></div>
<div id="chat">
    <h3>Chat</h3>

    <div id="chat-history-wrap">
        <ul id="chat-history"></ul>
    </div>
    <input id="chat-input" name="message" {% if not id %}value="Log in to chat" disabled{% endif %}/>
    <input id="send-message" type="button" value="send" {% if not id %}disabled{% endif %}/>
</div>
{% endblock %}
{% block script %}
<script src="/jquery-2.1.1.js"></script>
<script src="/main.js"></script>
{% endblock %}